/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-family: 'Playfair Display', serif;
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}

.nav-icon i{
   margin-left: 1.5rem;
   font-size: 1.25rem;
   opacity: 0.6;
   transition: all .3s ease;
}
.nav-icon i:hover{
   opacity: 1;
}
.carousel-caption{
   top: 40%;
   left: -23%;
}

/* Categories Section */
.category-caption{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 5%;
}
.category-caption h2{
   color: #1f1f1f;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
}
.category-caption a{
   color: #000;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    background: #ffce25;
    padding: 8px 14px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
}
.category-caption .collection{
   display: block;
    color: #0071fe;
    font-size: 1.25rem;
    line-height: 1.1;
    font-family: "Yellowtail",cursive;
    font-weight: 600;
    text-shadow: 0 -3px 0 #fff;
    margin-top: -23px;
}
/* Latest Products */
.rating-bg-fill{
   color: #ffce25;
}
.low-star{
   opacity: 0.8;
}
.discount{
   text-decoration: line-through;
   color: #ff003c;
}

/* Product Section */
.product-section{
   margin: 120px 0;
}
.product-bg{
   background-image: url("/images/categories/card.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 80px;
}
.product-image img{
   margin-left: 100px;
}